div {
	-webkit-transition: background-color 3.0s ease-out 1s;t-transition: background-color 3.0s ease-out 1s;
    	-moz-transition: background-color 3.0s ease-out 1s;
   	-o-transition: background-color 3.0s ease-out 1s;
	transition: background-color 3.0s ease;
	background-color : white;
}

.mailboxes {
	margin: 20px, 0, 20px, 0;
	text-align : center;
}

.mailboxes h1 {
	font-size: 60px;
}

.mailboxes h2 {
	font-size: 50px;
}

.input {
	text-align : center;
	font-size: 30px;
}

#Clef {
	left	     : 50%;
	margin-top   : 28%;
	margin-bottom   : auto;
	position	 : relative;
}
iframe {
	height	: 500px;
	left	: -200px;
	position: absolute;
	top		: -250px;
	width	: 400px;
}
